doctype html
html
  head
    title Your prismic.io singlepage project
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:url', content=urlToHere())
    script(src="https://prismicio.github.io/baked.js/baked-0.3.0.js")

  body
    div
      a(href=pathTo('search', {typ: 'product', tag: 'Featured', page: 1})) Search

    div
      a(href=pathTo('blog/index')) blog

    include _footer.jade
